/* btn_std_ix */
.bugs .btn_std_ix {
    background: rgba(0, 70, 0, 1) !important;
    border: 1px solid rgba(0, 255, 0, 0.2) !important;
    box-shadow: inset 0 0 8px rgba(0, 255, 0, 0.1) !important;
    text-shadow: 0 0 15px rgba(0, 255, 0, 0.5) !important;
    color: white !important;
  }
  
  .bugs .btn_std_ix:hover {
    background: rgba(0, 255, 0, 0.7) !important;
    border: 1px solid rgba(0, 158, 0, 0.1) !important;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5) !important;
  }
  
  .bugs .btn_std_ix:active {
    background: rgba(0, 255, 0, 0.85) !important;
    border: 1px solid rgba(0, 158, 0, 0.1) !important;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.85) !important;
  }
  
  /* button */
  .bugs button {
    background: rgba(0, 70, 0, 1) !important;
    border: 1px solid rgba(0, 255, 0, 0.2) !important;
    box-shadow: inset 0 0 8px rgba(0, 255, 0, 0.1) !important;
    color: white !important;
  }
  
  .bugs button:hover {
    background: rgba(0, 255, 0, 0.8) !important;
    border: 1px solid rgba(0, 158, 0, 0.1) !important;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5) !important;
  }
  
  /* dropdown menus and nav pills */
  .bugs .dropdown-menu .text {
    text-shadow: 0 0 15px rgba(0, 255, 0, 0.5) !important;
  }
  
  .bugs .dropdown-menu {
    background: rgba(0, 70, 0, 1) !important;
    border: 1px solid rgba(0, 255, 0, 0.2) !important;
  }
  
  .bugs .nav-pills > li > a {
    text-shadow: 0 0 15px rgba(0, 255, 0, 0.6) !important;
  }
  
  .bugs .nav-pills > li > a:hover {
    text-shadow: 0 0 15px rgba(0, 255, 0, 1) !important;
  }
  
  .bugs .dropdown-menu > li > a:hover {
    background: rgba(0, 255, 0, 0.85) !important;
    border: 1px solid rgba(0, 158, 0, 0.1) !important;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.2) !important;
  }
  
  .bugs .dropdown-menu > li > a:focus {
    background: rgba(0, 255, 0, 0.7) !important;
    border: 1px solid rgba(0, 158, 0, 0.1) !important;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.2) !important;
  }
  
  .bugs .nav-pills > li > a:hover,
  .bugs .nav-pills > li.active > a,
  .bugs .nav-pills > li.active > a:hover {
    text-shadow: 0 0 15px rgba(0, 255, 0, 1);
  }
  
  .bugs .nav-pills > li.active > a:focus {
    text-shadow: 0 0 15px rgba(0, 255, 0, 0.6);
  }
  
  /* input boxes */
  .bugs input[type="text"],
  .bugs input[type="password"],
  .bugs input[type="text"]:disabled,
  .bugs input[type="password"]:disabled,
  .bugs input[type="number"]:disabled {
    border: 1px solid rgba(0, 255, 0, 0.2);
    background: rgba(0, 70, 0, 1);
    color: white;
    box-shadow: inset 0 0 8px rgba(0, 255, 0, 0.1);
  }
  
  .bugs input.active:disabled {
    color: white;
    font-weight: 900;
    background: rgba(0, 255, 0, 0.8);
    border: 1px solid rgba(255, 200, 200, 0.8);
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.8);
  }
  
  .bugs .sub_options input[type="number"] {
    background: rgba(0, 70, 0, 1) !important;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1) !important;
    border: 1px solid rgba(0, 255, 0, 0.2) !important;
  }
  
  /* btn_std */
  .bugs .btn_std {
    border-image: url("coui://ui/mods/bugs_faction/img/btn_lrg_red.png")
      26 21 15 21 fill;
  }
  
  .bugs .btn_std:hover {
    border-image: url("coui://ui/mods/bugs_faction/img/btn_lrg_red_hover.png")
      26 21 15 21 fill;
  }
  
  .bugs .btn_std:active {
    border-image: url("coui://ui/mods/bugs_faction/img/btn_lrg_red_active.png")
      26 21 15 21 fill;
    box-shadow: inset 500px 500px 500px 500px #000;
  }
  
  /* btn_hero */
  .bugs .btn_hero {
    border-image: url("coui://ui/mods/bugs_faction/img/btn_lrg_red.png")
      10 21 21 21 fill;
  }
  
  .bugs .btn_hero:hover {
    border-image: url("coui://ui/mods/bugs_faction/img/btn_lrg_red_hover.png")
      10 21 21 21 fill;
  }
  
  .bugs .btn_hero:active {
    border-image: url("coui://ui/mods/bugs_faction/img/btn_lrg_red_active.png")
      10 21 21 21 fill;
  }
  
  /* dropdown system picker */
  .bugs .dropdown-system-picker {
    background: rgba(0, 70, 0, 1);
    border: 1px solid rgba(0, 255, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.2);
  }
  
  .bugs .dropdown-system-picker:hover {
    background: rgba(0, 255, 0, 0.8);
  }
  
  /* checkbox text color */
  .bugs .div_settings_control_input label,
  .div_settings_control_input label input[type="checkbox"] {
    color: white !important;
  }
  
  /* tooltips */
  .bugs .tooltip-inner {
    max-width: 190px !important;
    padding: 6px 8px;
    background-color: rgba(0, 70, 0, 1) !important;
    box-shadow: 0 0 25px rgba(0, 255, 0, 0.7) !important;
  }
  
  /* btn_toggle */
  .bugs .btn_toggle,
  .bugs .btn_toggle_shared_army {
    background: rgba(0, 70, 0, 1) !important;
    border: 1px solid rgba(0, 255, 0, 0.2) !important;
    box-shadow: none !important;
  }
  
  .bugs .btn_toggle:hover,
  .bugs .btn_toggle_shared_army:hover {
    background: rgba(0, 255, 0, 0.85) !important;
    border: 1px solid rgba(0, 255, 0, 0.2) !important;
    box-shadow: 0 0 20px rgba(0, 255, 0, 1) !important;
  }
  
  .bugs .btn_toggle:active,
  .bugs .btn_toggle.live,
  .bugs .btn_toggle_shared_army.on {
    background: rgba(0, 255, 0, 0.7) !important;
    border: 1px solid rgba(0, 158, 0, 0.1) !important;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5) !important;
  }
  
  /* btn_std_gray */
  .bugs .btn_std_gray {
    border-image: url("coui://ui/mods/bugs_faction/img/btn_std_red.png")
      44 17 0 17 fill;
  }
  
  .bugs .btn_std_gray:hover {
    border-image: url("coui://ui/mods/bugs_faction/img/btn_std_red_hover.png")
      44 17 0 17 fill;
  }
  
  .bugs .btn_std_gray:active {
    border-image: url("coui://ui/mods/bugs_faction/img/btn_std_red_active.png")
      44 17 0 17 fill;
  }
  
  .bugs .btn_std_gray_disabled {
    border-image: url("coui://ui/mods/bugs_faction/img/btn_std_red.png")
      44 17 0 17 fill;
  }
  